{#<!DOCTYPE html>#}

{#<title>Edit Post</title>#}

{#{% block body %}#}
{#    <h1>Edit Post</h1>#}

{#    {{ include('front/post/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('post_index') }}">back to list</a>#}

{#    {{ include('front/post/_delete_form.html.twig') }}#}
{#{% endblock %}#}
