{% extends 'front.html.twig' %}

{% block body %}
    <h1>Create new Post {{ user.firstname }}</h1>

    {{ include('front/post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">back to list</a>
{% endblock %}
