{% extends 'front.html.twig' %}

{% block title %}PropUp{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block body %}
    <h3 class="back-button">
        <a href="{{ app.request.headers.get('referer') }}">&#8678;</a>
    </h3>
    <div class="content-post-show">
        <div class="post">
            <img class = "postUserIco profile-pic" src="{{ user.imageFilename }}" alt="Avatar">
            <div class = "postUserName">
                {{ post.userId.firstname }}
                {{ post.userId.lastname }}
            </div>
            <div class = "postDate">
                {{ post.createdAt|date("d/m/Y") }}
            </div>
            <div class = "postContent">
                {{ post.content }}
            </div>
            <div class = "nbComment">
                {{ post.comments|length }} {% trans %}commentaires{% endtrans %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce post ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                    <button class="btn defaultButton">Supprimer le post</button>
                </form>
            {% endif %}
        </div>

        <div class = "comments">
            {% for comment in post.comments | sort((a, b) => a.createdAt <=> b.createdAt) %}
                <div class = "post comment">
                    <div>
                        <div class = "postUserName">
                            {{ comment.userId.firstname }}
                            {{ comment.userId.lastname }}
                        </div>
                        <img class = "postUserIco profile-pic" src="{{ user.imageFilename }}" alt="Avatar">

                    </div>
                    <div class = "postDate">
                        {{ comment.createdAt|date("d/m/Y H:m") }}
                    </div>
                    {{ comment.content }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('post_comment_delete', {'id': post.id, 'commentId': comment.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce commentaire ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button class="btn defaultButton">Supprimer</button>
                        </form>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
        <div class="add-comment">
            {{ form_start(form, {'attr': {'id': 'commentForm'}}) }}
                {{ form_widget(form.content) }}
            <button type = "submit" class = "col-2 defaultButton validateButton" name="sendPost" id="sendPost">{% trans %}Envoyer{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
