body {
  overflow: hidden;
}

.profile-pic{
  width: 65px;
  height: 65px;
}

#discussionListContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      margin-top: 10px;
    }

    & .table-content-container {
      overflow-y: scroll; // use auto; or scroll; to allow vertical scrolling;
      overflow-x: hidden; // disable horizontal scroll
      height: 50vh;
      width: 90%;

      display: flex;
      align-items: center;
      flex-direction: column;

      margin-top: 15px;
      padding-top: 15px;
      border-top: solid lightgray 1px;

      .listTable {
        border-collapse: separate;
        width: 100%;
        //margin-top: 15px;
        //height: 100%;
        & thead {
          height: 20px;

          & th {
            text-align: center;
          }
        }

        & tbody {
          & tr {
            height: 50px;
            text-align: center;
          }
        }

        & .deleteButton {
          color: white;
          background-color: #ff7676;
          padding: 8px 12px;
          border: solid 1px white;

          text-decoration: none;

          transition: 0.4s ease-in-out color, 0.4s ease-in-out background-color;

          &:hover{
            color: #ff7676;
            background-color: white;
            border: solid 1px #ff7676;
            transition: 0.4s ease-in-out color, 0.4s ease-in-out background-color;

          }
        }
      }
    }
  }
}

.searchBar{
  width: 80%;
  display: flex;justify-content: center;
}

#groupeContainer {
  width: 40%;
  border-left: solid lightgray 1px;

  #groupeListTable {
    width: 100%;

    & th {
      text-align: center;
    }
  }
}

#friendContainer {
  width: 60%;
}
