#editEvent {
  background-color: white;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  border-radius: 5%;
  box-shadow: 0 4px 4px rgba(1,1,1,0.30);
  padding: 5%;
}