#editUser {
  background-color: white;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin: auto;
  //box-shadow: 0 4px 4px rgba(1,1,1,0.30);
  padding: 5%;
}

form{
  display: flex;
  flex-direction: column;

  width: 50%;

  button{
    background-color: #bae0f5;
    color: black;
    border: none;

    align-self: center;
  }

  & #user{
    margin-bottom: 20px;
    & >div{
      display: flex;
      margin: 8px 0;
      justify-content: center;
      flex-direction: column;
      & >label{
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}
