body{
  overflow-x: hidden;
}

#content {
  top: 100px;
}

// Show all event
.createNewEvent{
  margin: auto;
  width: 25em;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 4px #000000;
  }
}

.indexEventContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  width: 90%;

  //box-shadow: 2px 2px 4px #000000;

  & .add-card{
    width: 300px;
    min-width: 300px;
    height: 460px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    //background-color: black;
    //background-color: transparent;
    //border:none;
    &  .top{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: grey;
      width: 100%;
      height: 200px;
    }

    & .fa{
      font-size: 110px;
      color: black;
    }
  }

  & .event-card{
    width: 300px;
    min-width: 300px;
    height: 460px;
    margin-bottom: 40px;

    & .card-img-top{
      width: 100%;
      height: 200px;
    }

    & .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .btn-primary{
        color: black;
      }
    }

    & a{
      width: 50%;
      margin: 10px 0;
    }
  }
}

// Show one event
.event {
  background-color: #FFFFFF;
  margin-bottom: 2%;
  margin-top: 1%;
  padding: 10px;
  //padding: 15px;

  .eventTitle{
    font-weight: bold;
  }

  .imgEvent {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .eventUserIco {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  & .event-row{
    margin: 8px 0px;


    .eventTitle {
      text-align: center;
      font-size: xx-large;
    }

    .eventUserName {
      text-decoration: underline;
      font-weight: bold;
    }

    .event-button {
      text-decoration: none;
      margin: 8px 0;
      //background-color: #bae0f5;
    }

  }
}

// Create event
.eventCreation {
  background-color: #FFFFFF;
  
  height: 300px;
}

.newEventContainer{
  box-shadow: 2px 2px 4px #000000;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  background-color: white;

  & form{
    //margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin-top: 1em;;
    margin-bottom: 1em;
    padding: 20px;

    background-color: white;


    & label, input{
      width: 100%;

    }
    & label{
      margin-top: 10px;
      margin-bottom: 10px;
      //font-weight: bold;
    }

    & #event_startDate, #event_endDate{
      width: 100%;
      display: flex;

      & #event_startDate_time, #event_endDate_time{
        padding-left: 10px;
      }
    }

    & .checkboxContainer{
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }

    & .save{
      //width: 60px;
      height: 50px;
      background-color: #bae0f5;

      margin-top: 15px;
    }
  }
}
