body{
  background-color: #E5E5E5;
}

#peopleStanding{
  position: absolute;
  top: 85px;
  left: 0%;
  width: 50%;
}

#formsContainer{
  display: flex;
  width: 50%;
  padding: 40px;

  top: 100px;
  right: 100px;
  position: absolute;

  background-color: #ffffff;
  box-shadow: 2px 2px 4px #000000;
  
  //border: solid 1px black;

  & label{
    margin-bottom: 1px;
  }
  & button{
    border-color: black;
  }

  & #login{
    border-right: 1px solid grey;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;

    & #logoLogin{
      width: 50%;
      align-self: center;
    }
  }
  // Register form
  & form:nth-child(2){
    width: 60%;
    padding-left: 30px;
    & #registration_form{

      display: flex;
      flex-direction: column;

      & div{
        width: 100%;
        display: flex;
        flex-direction: column;

      }

      & #registration_form_birthday{
        display: flex;
        flex-direction: revert;
      }

      & #registration_form_agreeTerms{
        align-self: flex-start;
      }

      & button{
        margin-top: 10px;
        background-color: #bae0f5;
        width: 100%;
      }
    }
  }
}