body{
  overflow: hidden;
}

h2{
  text-align: center;
}

#containerDiscussion{
  display: flex;
  margin: 0 5%;
  justify-content: center;

  .sidebar{
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: #FFFFFF;
  }
}
#messagerieContainer{

  width:60%;
  height: 81vh;
  //margin-left: 10%;
  padding: 10px 40px;
  

  background-color: #FFFFFF;

  & #messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px;
    padding-right: 0px;
    margin-bottom: 10px;
    & .row{
      width: 100%;
      padding: 0;
      margin:0;
      & .message{
        display: flex;
        align-items: center;

        width: 80%;
        margin-top: 10px;
        & .profile-pic{
          width: 50px;
          height: 50px;
        }
        & .userName{
          color: grey;
          margin: 0;
        }
        & .line{
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;

          & .upperLine{
            display: flex;
            font-size: 13px;
          }

          & .content{
            //display: flex;
            //align-items: center;
            //height: 40px;
            min-width: 20px;
            padding: 10px 7px;
            border-radius: 15px;
          }
        }
      }

      &.sender{
        justify-content: flex-end;
        & .message{
          flex-direction: row-reverse;
        }

        & .line{
          padding-right: 10px;
          align-items: flex-end;

          & .upperLine{
            flex-direction: row-reverse;
            & .userName{
              margin-left: 8px;
              text-align: right;
            }
          }
          & .content{
            background-color: #C5BAF5;
            color: white;
            text-align: right;
          }
        }

      }
      &.receiver{
        align-self: self-start;

        & .line{
          align-items: flex-start;

          & .upperLine{
            & .userName{
              margin-right: 8px;
              text-align: left;

            }
          }
        }
        & .content{
          background-color: #E5E5E5;
          color: black;
        }
        & .line{
          padding-left: 10px;
        }
      }
    }
  }

  & form{
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: space-between;


    & #message{
      width: 100%;
      display: flex;
      // Content
      & div:nth-of-type(1){
        display: flex;
        width: 80%;
        & label{
          display: none;
        }
        & textarea{
          width: 100%;
          resize: none;
        }
      }
      // Save button
      & div:nth-of-type(2){
        width: 20%;
        display: flex;
        align-items: center;
        & .save{
          height: 100%;
          width: 100%;
          border: none;
        }
      }
    }
  }
}