.centerContent {
  display: flex;
  justify-content: space-around;
}

.content {
  display: inline-flex;
  position: absolute;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  min-width: 500px;

  .posts {
    width: 70%;
  }

  #searchBarContainer{
    width: 100%;
    border-bottom: 1px grey solid;

    #searchTags{
      width: 100%;
      & .autocomplete{
        width: 90%;
        & #inputTags{
          box-shadow: none;
          width: 100%;
        }
      }
      & .validateButton{
        width: 10%;
      }
    }

  }

  .profileCard {
    width: 25%;
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: flex-start;

    .backgroundImage{
      width: 100%;
      height: 120px;
    }

    .profile-pic{
      width: 100px;
      margin-top: -50px;
    }

    &.card {
      border-radius: 0px;
    }

    & .edit{
      margin-top: 10px;
      height: 25px;
      width: 25px;
    }

    .profil-pic, .name, .birthday{
      padding: 10px 0;
    }

    .name, .birthday{
      border-bottom: solid lightgray 1px;
    }
  }
}

.post {
  height: 10rem;
  box-shadow: 2px 2px 4px #88888860;
  padding: 2%;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0.5em;
  place-items: center;

  grid-template-areas:
  "name . date"
  "avatar content content"
  "avatar content content"
  "show show show";

  &:hover {
    box-shadow: 2px 2px 4px #000000;
    transition: all 0.2s ease-in;
  }

  .postUserName {
    font-weight: bold;
    grid-area: name;
  }

  .postDate {
    font-size: 80%;
    font-style: italic;
    grid-area: date;
  }

  .postUserIco {
    height: 55px;
    width: 55px;
    //border-radius: 50%;
    grid-area: avatar;
  }

  .postContent {
    grid-area: content;
  }

  .nbComment {
    text-align: center;
    grid-area: show;
  }

  .showComment {
    display: block;
    color: #460961;
    text-decoration: none;
    text-align: center;
    width: 100%;
    grid-area: show;

    &:hover {
      color: #460961;
      text-decoration:none;
      cursor:pointer;
    }
  }
}


// General for posts / comments
.postCreation, .add-comment {
  //padding: 1em;
  display: flex;
  //grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //
  background-color: #FFFFFF;

  height: 125px;

}

#createPostForm, #commentForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 40%;

  margin-top: 10px;

  #post{
    width: 90%;
    height: 100%;
    & > div{
      height: 100%;
    }
  }



  .inputPost {
    margin-right: 1em;
    padding: 1em;
    height: 100%;
    box-shadow: 2px 2px 4px #b1b1b1;
    //
    border: none;
    outline: none;
    width: 95%;
    resize: none;
  }

  #sendPost {
    margin-top: 1%;
    margin-bottom: 1%;

    line-height: 46px;
    height: 100%;
  }
}

.content-post-show {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: min-content;
  place-items: center;
  margin-top: 50px;

  .comment {
    width: 70%;
    margin: 13px auto;
    padding: 1em;
  }

  .add-comment {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;

  }
}

