{% extends 'front.html.twig' %}

{% block title %}PropUp{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block body %}
<div id="topRow">

    <div id="searchBarContainer">
        <p>Filtrer la page</p>
        <div id="searchBarFormContainer">
            <form id="searchTags" class="searchBar" autocomplete="off" action="">
                <div class="autocomplete" >
                    <input id="inputTags" class="inputDefault" type="text" name="myInput" placeholder="Rechercher par tag">
                </div>
                <a class="btn validateButton">Filtrer</a>
            </form>
        </div>
        <div id="tagsContainer">
        </div>
    </div>

    <div id="postFormContainer">
        <p> Partagez vos pensées !</p>
        {{ form_start(postForm, {'attr': {'id': 'createPostForm'}}) }}
        {{ form_widget(postForm) }}
        <button type = "submit" class = "col-2 defaultButton validateButton" name="sendPost" id="sendPost">{% trans %}Envoyer{% endtrans %}</button>
        {{ form_end(postForm) }}
    </div>

    <div class="currentUser">
        <img class = "postUserIco profile-pic" src="{{ user.imageFilename }}" alt="Avatar">
        <div>
            {{ user.firstname }} {{ user.lastname }}
        </div>
        <a  href="{{ path('user_edit', {'id': user.id}) }}"><img class = "edit" src="{{ asset('build/images/edit.png') }}" alt="Avatar"></a>
    </div>

</div>

<div id = "content" class="postList">
    {% for formPost in data %}
        <div class="post all
            {% for tag in formPost.post.tags %}
                {{ tag.name }}
             {% else %}
            {% endfor %}
        ">
            <img class = "postUserIco profile-pic" src="{{ formPost.post.userId.imageFilename }}" alt="Avatar">
            <div class = "postUserName">
                {{ formPost.post.userId.firstname }}
                {{ formPost.post.userId.lastname }}
            </div>
            <div class="postDate">
                {{ formPost.post.createdAt|date('m/d/Y H:i:s') }}
            </div>
            <div class = "postContent">
                {{ formPost.post.content }}
            </div>
            <a class = "showComment" href="{{ path('post_show', {'id': formPost.post.id }) }}">{% trans %}Plus de détails ({% endtrans %}{{ formPost.post.comments|length }} {% trans %} commentaires){% endtrans %}</a>
        </div>
    {% endfor %}
</div>

<script>

    window.tags = [
        {% for fromPost in data %}
            {% for tag in fromPost.post.tags %}
                "{{ tag.name }}",
            {% else %}
                'all',
            {% endfor %}
        {% else %}
            'all',
        {% endfor %}
    ];

</script>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('post') }}
{% endblock %}