{% extends 'front.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <img id="peopleStanding" src="{{ asset('build/images/peopleStandingPlus.png') }}"/>
    <div id="formsContainer">
        {% include 'authentification/login.html.twig' %}
        {% include 'authentification/register.html.twig' %}
    </div>
{% endblock %}
