<form id="login" method="post" action="/login">
    <img id="logoLogin" src="{{ asset('build/images/propUpLogo.png') }}"/>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="inputDefault" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="inputDefault" required>
    <label>
        <input type="checkbox" name="_remember_me">
        <span> Se souvenir de moi</span>
    </label>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="defaultButton validateButton" id="submitLogin" type="submit">
        Connexion
    </button>
</form>

