<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PropUp{% endblock %}</title>
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
        <link rel="icon" href="{{ asset('build/images/propUpLogoSansTitre.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% include 'header.html.twig' %}

    {% block body %}{% endblock %}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>#}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script>
            var flashBag = {{ app.session.flashbag.all()|json_encode|raw }};

            function displayToasts(){
                console.log(flashBag);
                let customToast = document.createElement('div');
                customToast.classList.add('customToast');
                for (const [type, messages] of Object.entries(flashBag)) {
                    for (message of messages) {
                        let oneToast = document.createElement('div');
                        oneToast.classList.add('oneToast');
                        oneToast.classList.add(type);
                        let html = '<p>'+message+'</p>';
                        console.log(html);
                        oneToast.innerHTML = html;
                        customToast.appendChild(oneToast);

                    }
                }
                document.body.appendChild(customToast);
                setTimeout(function () {
                    $('.customToast').addClass('show');
                    setTimeout(function () {
                        $('.customToast').removeClass('show');
                    }, 4000);
                }, 1000);
            }

            displayToasts();

            let userId = "{% if app.user.id is defined %}{{ app.user.id }}{% endif %}";

            let arrayUrl = {
                "post" : "post/newPost/",
                "message" : "message/newMessage/",
                "event" : "event/newAttender/"
            };

            let eventArray = [];
            let eventSourceArray = [];
            let block = false;

            for (let [key, value] of Object.entries(arrayUrl)) {
                let url = new URL('http://localhost:8000/.well-known/mercure');

                console.log(key, value);
                let navItem = document.querySelector(`#link_${key} .new`);
                let urlSearched = value;
                url.searchParams.append('topic', urlSearched+userId);

                let eventSource = new EventSource(url);
                // let event = navItem.addEventListener('click', () => {
                //     document.getElementById('badge').remove()
                // });

                eventArray.push(event);

                eventSource.onmessage = e => {
                    console.log(e.data);
                    let data = '';
                    try {
                        data = JSON.parse(e.data);
                    } catch (error) {
                        console.log(error)
                    }

                    if (data.url && data.message && !block) {
                        block = true;


                        let badge = `<span class="badge badge-secondary">New</span>`;
                        console.log("key", key);
                        if (!document.querySelector(`#${key} .badge`)) {
                            navItem.innerHTML = " "+badge;
                            navItem.innerHTML = " "+badge;
                        }

                        const notification = document.createElement('a');
                        notification.setAttribute("class", "dropdown-item");

                        notification.setAttribute("href", "http://localhost:7080/"+data.url);

                        notification.innerHTML = data.message
                        notification.innerHTML = data.message;

                        const notificationsNumber = document.getElementById('notificationCount');
                        const notificationContainer = document.getElementById('notificationContainer');
                        const notificationMenu = document.getElementById('notificationMenu');
                        notificationContainer.classList.add("hasNotification");
                        notificationMenu.appendChild(notification);
                        notificationsNumber.innerHTML = notificationMenu.childElementCount;

                        setTimeout(() => {
                            block = false
                        }, 500)
                    }
                };

                eventSourceArray.push(eventSource);
            }

            window.onbeforeunload = () => {
                for (const event of eventArray) {
                    document.removeEventListener('click', event);
                }
                eventSourceArray.forEach(e => e.close())
            };

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
