{% block header %}
    <nav class="navbar navbar-expand-lg">

{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav {% if 'home' in app.request.get('_route') %} home {% endif %}">
                <a id="logoLink" href="{{ path('default_index') }}">
                    <img id="logoPropUp" src="{{ asset('build/images/propUpLogoSansTitre.png') }}"/>
                    <h1>PropUp</h1>
                </a>
                <div id="otherLinks">
                {% if is_granted('ROLE_ADMIN') %}
{#                    <a class="nav-item nav-link {% if app.request.attributes.get('back_default_index') starts with 'back'%}active{% endif %}" href="{{ path('back_default_index') }}">Administration</a>#}
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a id="link_post" class="nav-item nav-link {% if 'default_index' in app.request.get('_route') %}active{% endif %}" href="{{ path('default_index') }}">Accueil <span class="new"></span></a>
                    <a id="link_message" class="nav-item nav-link {% if 'message' in app.request.get('_route') %}active{% endif %}" href="{{ path('message_index') }}" tabindex="-1" >Messages<span class="new"></span></a>
                    <a id="link_event" class="nav-item nav-link {% if 'event' in app.request.get('_route')%}active{% endif %}" href="{{ path('event_index') }}" tabindex="-1" >Évènements<span class="new"></span></a>
                    <a class="nav-item nav-link {% if 'user' in app.request.get('_route')%}active{% endif %}" href="{{ path('user_show', {'id': app.user.id }) }}">Profil<span class="new"></span> </a>
                    <div id="notificationContainer" class="dropdown show">
                        <a id="notificationButton" class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <span id="notificationCount">0</span>
                        </a>

                        <div id="notificationMenu" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        </div>
                    </div>
                    <a class="nav-item nav-link logout" href="{{ path('app_logout') }}" tabindex="-1" >Déconnexion</a>
                {% endif %}

                </div>
            </div>
        </div>
    </nav>
{% endblock %}