{% extends 'front.html.twig' %}
{% block title %}Messages{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('messages') }}
{% endblock %}
{% block body %}
    <h3 class="back-button"><a href="{{ app.request.headers.get('referer') }}">&#8678;</a></h3>
    <h2>{% if receiver is defined %} {{ receiver.lastname }}{% else %}{{ groupe.subject }}{% endif %}</h2>
    <input id="userId" type="hidden" value="{{user.getId()}}">
    {% if receiver is defined %}<input id="receiverId" type="hidden" value="{{receiver.getId()}}">{% endif %}
    {% if groupe is defined %}<input id="groupeId" type="hidden" value="{{groupe.getId()}}">{% endif %}
    <div id="containerDiscussion">
{#        <div class="sidebar">#}
{#            <a href="{{ path('message_index') }}">Retour à la liste</a>#}
{#        </div>#}
        <div id="messagerieContainer">
            <div id="messages">
                {% for message in messages %}
                    <div class="row  {% if message.senderId.getId() is same as(user.getId())  %}sender{% else %}receiver{% endif %}">
                        <div class="message">
                            <img class="profile-pic" src="{{ message.senderId.imageFilename }}" alt="Avatar">
                            <div class="line">
                                <div class="upperLine">
                                    <p class="userName"> {{message.senderId.getFirstname()}}</p> <p class="date" data-fulldate="{{ message.createdAt|date('m/d/Y H:i:s') }}">{{ message.createdAt|date('H:i:s') }}</p>
                                </div>
                                <div class="content">{{ message.content }}</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <p id="firstMessage">Envoyez un premier message !</p>
                    </div>
                {% endfor %}
            </div>
            {{ include('front/message/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('messages')}}
{% endblock %}
