{% extends 'front.html.twig' %}

{% block title %}Messages{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('discussionList') }}
{% endblock %}

{% block body %}
    <h2>Messages</h2>
    <div id="discussionListContainer">
        <section id="friendContainer" >
            <h3>Mes ami.e.s</h3>
            <form id="searchFriendForm" class="searchBar" autocomplete="off" action="">
                <div class="autocomplete" style="width:300px;">
                    <input id="inputFriends" class="inputDefault" type="text" name="myInput" placeholder="Rechercher un(e) ami(e)">
                </div>
                <a class="addButton defaultButton validateButton">Ajouter</a>
            </form>
            <div class="table-content-container">
                <table id="friendListTable" class="listTable">
                <thead>
                <tr>
{#                    <th></th>#}
{#                    <th align="center">Ami</th>#}
{#                    <th align="center">Rejoindre la discussion</th>#}
{#                    <th align="center">Retirer des ami.e.s</th>#}
                </tr>
                </thead>
                <tbody>
                {% for user in userFriends %}
                    <tr id="{{user.firstname}}_{{user.lastname}}">
                        <td align="center">
                                <img class="profile-pic" src="{{ asset(user.imageFilename) }}"/>
                        </td>
                        <td align="center">{{ user.lastname }}</td>
                        <td align="center">
                            <a class="joinDiscussion" href="{{ path('message_discussion', {'id': user.id}) }}">Rejoindre la discussion</a>
                        </td>
                        <td align="center"><a class="deleteButton" href="{{ path('user_friend_delete', {'id': user.id}) }}">X</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td colspan="3">Vous n'avez pas ajouté d'ami</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </section>
        <section id="groupeContainer">
            <h3>Mes groupes</h3>
            <form id="searchGroupForm" class="searchBar" autocomplete="off" action="">
                <div class="autocomplete" style="width:300px;">
                    <input id="inputGroupes" class="inputDefault" type="text" name="myInput" placeholder="Rechercher un groupe">
                </div>
                <a class="addButton defaultButton validateButton">Rejoindre</a>
            </form>
            <div class="table-content-container">
                <table id="groupeListTable" class="listTable" >
                    <thead>
                    <tr>
{#                        <th>Groupe</th>#}
{#                        <th>Rejoindre la discussion</th>#}
{#                        <th>Quitter le groupe</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groupsOfUser %}
                        <tr>
                            <td align="center">{{ group.subject }}</td>
                            <td align="center">
                                <a href="{{ path('message_discussion_group', {'id': group.id}) }}">Rejoindre la discussion</a>
                            </td>
                            <td align="center"><a class="deleteButton" href="{{ path('user_leave_groupe', {'id': group.id}) }}">X</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td>
                            <td colspan="3">Vous n'avez pas rejoint de groupe.</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <script>

        window.users = [
            {% for user in users %}
            {
                "userId": "{{ user.id }}",
                "lastname": "{{ user.lastname }}"
            },
            {% else %}
            {'none': 'none'},
            {% endfor %}
        ];

        window.groupes = [
            {% for group in groupes %}
            {
                "groupeId": "{{ group.id }}",
                "subject": "{{ group.subject }}"
            },
            {% else %}
                {'none': 'none'},
            {% endfor %}
        ];

    </script>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('discussionList') }}
{% endblock %}

