{{ form_start(form) }}
    <label>Titre</label>
    {{ form_widget(form.name) }}
    <label>Description</label>
    {{ form_widget(form.description) }}
    <label>Date de début</label>
    {{ form_widget(form.startDate) }}
    <label>Date de fin</label>
    {{ form_widget(form.endDate) }}
    <label>Image de l'évènement</label>
    {{ form_widget(form.imageEvent) }}
    <div class="checkboxContainer custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="discussion" name="discussion">
        <label class="custom-control-label" for="discussion">Créer une discussion avec l'évènement</label>
    </div>
    <button class="save defaultButton validateButton">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
