{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('editEvent') }}
{% endblock %}

{% block body %}
    <h2>Modifiez votre event</h2>
    <article id="editEvent">

    {{ include('front/event/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    </article>

{% endblock %}

