{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('event') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <body>
    <h2>Évènements</h2>
{#    <a class="createNewEvent" href="{{ path('event_new') }}"></a>#}

    <div class="indexEventContainer">

        <div class="card add-card event-card">
            <div class="top">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <h5 class="card-date"></h5>
                <p class="card-text">Créer mon propre évènement </p>
                <a href="{{ path('event_new') }}" class="btn btn-primary">Créer</a>
            </div>
        </div>

        {% for event in events | sort((b, a) => a.createdAt <=> b.createdAt) %}
{#            <tr class="event-item">#}
{#                <td> <img src="{{ event.imageEvent }}" alt="evenement" /></td>#}
{#                <td><u>{{ event.name }}</u></br>{{ event.description }}</td>#}
{#                <td>{{ event.startDate|date('Y-m-d') }} </br>-</br>{{ event.endDate|date('Y-m-d') }}</td>#}
{#                <td>{{ event.creator.firstname }} {{ event.creator.lastname }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir l'évènement</a>#}
{#                    #}{#                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}

            <div class="card event-card">
                <div class="card-img-top" style="background-image:url('{{ event.imageEvent }}')" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <h5 class="card-date">{{ event.startDate|date('Y-m-d') }} - {{ event.endDate|date('Y-m-d') }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    {% if user.id == event.creator.id %} <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-primary">Editer</a> {% endif %}
                    <a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">Pas d'évènements pour le moment</td>
            </tr>
        {% endfor %}


    </div>

    </body>
{% endblock %}
