{% extends 'front.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('event') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <h3 class="back-button"><a href="{{ app.request.headers.get('referer') }}">&#8678;</a></h3>
    <h2>Créer un évènement</h2>
    <div class="newEventContainer">
        {{ include('front/event/_form.html.twig') }}
    </div>


{% endblock %}
