{% extends 'front.html.twig' %}

{% block title %}PropUp{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block body %}

    <h3 class="back-button"><a href="{{ app.request.headers.get('referer') }}">&#8678;</a></h3>
    <div class="content row justify-content-center">
        <div class="event col-6">
            <div class="row justify-content-start">
                <div class="col-md-12">
                    {#                    <img src="{{ event.imageEvent }}" alt="evenement" />#}
                    <div class="imgEvent" style="background-image: url('{{ event.imageEvent }}') ">

                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin:15px 0 ;">
                <h4 class = ".offset-1 col-10 eventTitle">
                    {{ event.name }}
                </h4>
            </div>

            <div class="row justify-content-start" >

                <div class = "offset-1 col-2" >
                    <div class="">
                        <img class = "eventUserIco profile-pic" src="{{ event.creator.imageFilename }}" alt="Avatar">
                    </div>
                </div>
                <div class = "col-3 eventUserName">
                    {{ event.creator.firstname }}
                    {{ event.creator.lastname }}
                </div>
                {% if is_granted('ROLE_ADMIN') or event.creator.id == currentUser.id %}
                    <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                        <button class="btn defaultButton">Supprimer l'évènement</button>
                    </form>
                {% endif %}
            </div>
            <div class="row justify-content-center">
                <div class = ".offset-1 col-10 eventContent">
                    {{ event.description }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class = ".offset-1 col-10 eventContent">
                                        Date : {{ event.startDate | date('h:m d-m-y') }} - {{  event.endDate | date('h:m d-m-y') }}
                </div>
            </div>
            <div class="row justify-content-center">
                {% if currentUser.id == event.creator.id %}
                    <a class="col-md-2 defaultButton validateButton event-button" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                {% endif %}
                {% if isInEvent == false and currentUser.id != event.creator.id %}
                    <a class="col-md-2  defaultButton validateButton event-button" href="{{ path('event_attend', {'id': event.id}) }}">Participer</a>
                {% endif %}

                {% if event.groupe %}
                    {% if isInGroupe == true %}
                        <a class="offset-md-1 col-md-2 btn validateButton" href="{{ path('message_discussion_group', {'id': event.groupe.id}) }}">Discussion liée</a>
                    {% else %}
                        <a class="offset-md-1 btn validateButton" href="{{ path('user_join_group', {'id': event.groupe.id }) }}"> Rejoindre la discussion </a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="row justify-content-center">
                <div>
                    {{ event.attenders|length }} Participants :
                </div>
            </div>
            {% for attender in event.attenders %}
                {% if attender.id != event.creator.id %}
                <div class="row justify-content-center event-row">
                    <div class = "col-2">
                        <img class = "eventUserIco" src="{{ attender.imageFilename }}" alt="Avatar">
                    </div>
                    <div class = "col-3 eventUserName">
                        {{ attender.firstname }}
                        {{ attender.lastname }}
                    </div>
                    <div class="d-flex col-2 justify-content-center">
                        {% if  attender.id == currentUser.id %}
                            <a class="defaultButton secondaryButton" href="{{ path('event_desattend', {'id': event.id}) }}">Quitter</a>
                        {% elseif is_granted('ROLE_ADMIN') or event.creator.id == currentUser.id %}
                            <a class="btn " href="{{ path('event_desattend_user', {'id': event.id, 'userId': attender.id}) }}">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
