<img class="profile-pic" src="{{ asset(user.imageFilename) }}"/>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="defaultButton validateButton col-md-4">Sauvegarder</button>
{{ form_end(form) }}
