
<div class=" postList">
    {% for formPost in data | sort((b, a) => a.post.createdAt <=> b.post.createdAt) %}
        <div class="post all {% for tag in formPost.post.tags %}
                {{ tag.name }}
             {% else %}
            {% endfor %}
        ">
                <img class = "postUserIco profile-pic" src="{{ formPost.post.userId.imageFilename }}" alt="Avatar">
                <div class = " postUserName">
                    {{ formPost.post.userId.firstname }}
                    {{ formPost.post.userId.lastname }}
                </div>
                <div class = " postDate">
                    {% trans %}le{% endtrans %} {{ formPost.post.createdAt|date('m/d/Y H:i:s') }}
                </div>
                <div class = "postContent">
                    {{ formPost.post.content }}
                </div>
                <a class = "showComment" href="{{ path('post_show', {'id': formPost.post.id }) }}">{% trans %}Afficher la discussion ({% endtrans %}{{ formPost.post.comments|length }} {% trans %} réponses){% endtrans %}</a>
        </div>
    {% endfor %}
</div>