{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('editUser') }}
{% endblock %}

{% block body %}
    <h3 class="back-button"><a href="{{ app.request.headers.get('referer') }}">&#8678;</a></h3>
    <h2>Modifier votre profil</h2>
    <article id="editUser">

    {{ include('front/user/_form.html.twig', {'button_label': 'Update'}) }}
    </article>

{% endblock %}
