<!DOCTYPE html>

<title>New User</title>

{% block body %}
    <h1>Create new User</h1>

    {{ include('front/user/_form.html.twig') }}

    <a href="{{ path('front_user_show', {'id': app.user.id }) }}">back to show</a>
{% endblock %}
