<!-- le micro-formulaire de créatioin de post  -->
<div class="postCreation">
    <div>
{#        {% trans %}Partagez vos pensées !{% endtrans %}#}
    </div>
    {{ form_start(postForm, {'attr': {'id': 'createPostForm'}}) }}
        {{ form_widget(postForm) }}
        <button type = "submit" class = "col-2 defaultButton validateButton" name="sendPost" id="sendPost">{% trans %}Envoyer{% endtrans %}</button>
    {{ form_end(postForm) }}
</div>