{% extends 'front.html.twig' %}

{% block title %} Profil {% endblock %}

{% block stylesheets %}
{#    {{ encore_entry_link_tags('profil') }}#}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block body %}
    <div class="centerContent">
        <div class="content">
            <div class="posts">
                {{ include('front/user/newpost.html.twig') }}
                <div id="searchBarContainer">
                        <div id="searchBarFormContainer">
                            <form id="searchTags" class="searchBar" autocomplete="off" action="">
                                <div class="autocomplete" >
                                    <input id="inputTags" class="inputDefault" type="text" name="myInput" placeholder="Rechercher par tag">
                                </div>
                                <a class="btn validateButton"><i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </form>
                        </div>
                        <div id="tagsContainer">
                        </div>
                    </div>
                {{ include('front/user/allpost.html.twig') }}
            </div>

            <div class="card profileCard">
                <div class="backgroundImage" style="background-image: url('{{ user.backgroundImageFileName }}');"></div>
                <img class="profile-pic" src="{{ user.imageFilename }}" />
                <p class="name">{{ user.firstname }} {{ user.lastname }}</p>
                <p class="birthday"> Née le {{ user.birthday ? user.birthday|date('Y-m-d')}}</p>
                <p>
{#                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info"> Edit</a>#}
                    <a  href="{{ path('user_edit', {'id': user.id}) }}"><img class = "edit" src="{{ asset('build/images/edit.png') }}" alt="Avatar"></a>
                </p>
            </div>
        </div>
    </div>

    <script>

      window.tags = [
          {% for fromPost in data %}
          {% for tag in fromPost.post.tags %}
        "{{ tag.name }}",
          {% else %}
        'all',
          {% endfor %}
          {% else %}
        'all',
          {% endfor %}
      ];

    </script>

    {% block javascripts %}
        {{ encore_entry_script_tags('post') }}
    {% endblock %}

{% endblock %}